@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 8% 98%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 207 68% 53%;
    --primary-foreground: 0 0% 98%;
    --secondary: 220 8% 92%;
    --secondary-foreground: 240 10% 3.9%;
    --muted: 220 8% 92%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 220 8% 92%;
    --accent-foreground: 240 10% 3.9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 85%;
    --ring: 207 68% 53%;
    --radius: 0.5rem;
    
    --sidebar-background: 215 28% 17%;
    --sidebar-foreground: 210 20% 90%;
    --sidebar-primary: 215 28% 17%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 214 27% 22%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 214 27% 22%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --primary: 207 68% 53%;
    --primary-foreground: 210 40% 98%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 207 68% 53%;

    --sidebar-background: 215 28% 17%;
    --sidebar-foreground: 210 20% 90%;
    --sidebar-primary: 215 28% 17%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 214 27% 22%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 214 27% 22%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
